#contact-social-footer {

}

.logo-footer {
    display: table;
    margin: 0 auto 30px auto;
}

.logo-footer img {
    filter: grayscale(100%) invert(100%) brightness(200%);
    width: 75%;
    display: table;
    margin: auto;
}

#contact-social-footer p {
    text-align: center;
}

#contact-social-footer p a {
    text-decoration: none;
    color: #FFF;
}

#contact-social-footer p a:hover {
    color: #a1c9e1;
}

#contact-social-footer p a.phone-footer {
    font-size: 24px;
}

#contact-social-footer p a.email-txt-footer {
    font-size: 24px;
}

ul.contact-social-footer {
    list-style: none;
    display: table;
    margin: 25px auto 20px auto;
    padding: 0;
}

ul.contact-social-footer.footer-contato {
    margin: 0 auto;
}

ul.contact-social-footer.footer-contato li {
    display: table;
    margin: auto;
}

ul.contact-social-footer.footer-contato li a {
    font-size: 16px;
    display: table;
}

ul.contact-social-footer li {
    display: table;
    float: left;
    padding: 0 3px;
}

ul.contact-social-footer li a {
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
}

ul.contact-social-footer li a:hover {
    color: #e8e8e8;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

ul.contact-social-footer li a i {
    font-size: 36px;
    vertical-align: sub;
}

ul.contact-social-footer li a span {
    margin-left: 10px;
}

ul.contact-social-footer li a.instagram {
    display: table;
    width: 32px;
    height: 32px;
    background-color: #FFF;
    margin-top: 1px ;
    border-radius: 3px;
}

ul.contact-social-footer li a.instagram:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    background-color: #e8e8e8;
}

ul.contact-social-footer li a.instagram span{
    display: table-cell;
    margin: auto;
    vertical-align: middle;
}

ul.contact-social-footer li a.instagram i{
    color: #d28501;
    font-size: 26px;
    line-height: 0.8;
    display: block;
    text-align: center;
    margin-top: 2px;
}

.phone,
.email {
    display: table;
    margin: auto;
    font-weight: 700;
}

.phone a:hover,
.email a:hover{
    color: #e8e8e8;
}