#modservices {
    width: 100%;
    display: table;
    position: relative;
    margin-bottom: 60px;
}

#services{
    width: 1170px;
    margin: -80px auto 0 auto;
    display: table;
}

#services .service {
    display: table;
    float: left;
    width: 33.33%;
    margin: 0;
}

#services .service .item-service {
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: #116700;
    display: table;
}

#services .service .item-service:hover {
    background-color: #0d5000;
}

#services .service:first-child .item-service {
    background-color: #413628;
}

#services .service:first-child .item-service:hover {
    background-color: #382a18;
}

#services .service:last-child .item-service {
    background-color: #178b00;
}

#services .service:last-child .item-service:hover {
    background-color: #157c01;
}

#services .service .item-service a {
    display: table;
    margin: auto;
    text-decoration: none;
    padding-top: 30px;
}

#services .service .item-service a:hover {
    text-decoration: none;
}

#services .service .item-service h1 {
    display: table;
    width: calc(100% - 10px);
    margin: 0;
    padding: 0 5px;
    height: 100px;
}

#services .service .item-service h1 a {
    display: table-cell;
    vertical-align: middle;
    color: #FFF;
    font-size: 24px;
    text-transform: uppercase;
}

#services .service .item-service a.img-service {
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
}

#services .service .item-service .desc {
    padding: 10px 15px;
}

#services .service .item-service p {
    color: #FFF;
    font-size: 18px;
    line-height: 1.3;
    display: table;
}

@media screen and (max-width: 1200px) {
    #services .service {
        width: calc(25% - 10px);
        margin: 0 5px;
    }
}

@media screen and (max-width: 1024px) {
    #services .service {
        width: calc(50% - 20px);
        margin: 0 10px 30px 10px;
    }
}

@media screen and (max-width: 768px) {
    #modservices {
        margin-bottom: 10px;
    }

    #services .service {
        width: calc(50% - 10px);
        margin: 0 5px 20px 5px;
    }

    #services .service {
        width: 100%;
        max-width: 350px;
        margin: 0 auto 20px auto;
        float: none;
    }
}

@media screen and (max-width: 480px) {
    #services .service {
        max-width: 280px;
    }
}